*{
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	margin-bottom: 100px;
	font-family: 'Poppins', sans-serif;
}
.formulario{
	width: 400px;
	max-width: 100%;
	padding: 30px;
	margin: auto;
	margin-top: 100px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 5px 15px;
	position: relative;
}
.form-title{
	text-align: center;
	margin: 0;
	margin-top: 20px;
	margin-bottom: 40px;
	color: rgba(0, 0, 0, 0.5);
}
.form-input{
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	margin-bottom: 40px;
}
.form-label{
	position: absolute;
	margin-top: -74px;
	padding-left: 15px;
	z-index: -5;
	transition: all .3s;
}
.form-input:focus{
	outline: none;
}
.form-input:focus + .form-label{
	margin-top: -105px;
	padding-left: 3px;
	font-size: .9em;
}
.form-input, .form-label, .form-submit{
	font-size: 1em;
	color: rgba(0, 0, 0, 0.5);
}
.form-submit{
	width: 60%;
	max-width: 100%;
	padding: 12.2px 20px;
	color: #fff;
	background: #3b3d44;
	border: none;
	display: block;
	margin: auto;
	margin-top: -5px;
	margin-bottom: 15px;
	border-radius: 20px;
	cursor: pointer;
	transition: all .3s;
	font-size: .9em;
	font-weight: 500;
}
.form-submit:hover{
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	transform: translateY(-1px);
}
.form-submit:focus{
	outline: none;
}
/*-----*/
.pinUp{
	margin-top: -107px;
	padding-left: 3px;
	font-size: 0.881em;
}
/*-- responsive --*/
@media (max-width: 576px){
	.formulario{
		width: 307px;
	}
	.form-input, .form-label, .form-submit{
		font-size: .9em;
	}
	.form-input:focus + .form-label{
		margin-top: -105px;
		padding-left: 3px;
		font-size: .8em;
	}
	.pinUp{
		margin-top: -106px;
		font-size: .9em;
	}
}